.footer-box-2 {
  
    display: none !important;
}

.footer-box-1 {
   
    display: none !important;
}

.footer-box-3 .footer-copyright {
    
    display: none !important;
}
.request_btn_css {
    display: none !important;

}
    .request-box {
       
        display: none !important;
    }
	
	    .request-box .butten {
        margin-top: 0;
        display: none !important;
    }
	
	.topbar {
    background: #f05223;
    text-align: center;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 99;
    display: none;
}