.footer-box-2 {
  
    display: none !important;
}

.footer-box-1 {
   
    display: none !important;
}

.footer-box-3 .footer-copyright {
    
    display: none !important;
}
.request_btn_css {
    display: none !important;

}